div {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 1px solid black;
}

.translated {
  transform: perspective(15px) translateZ(-10px);
}
.scaled {
  margin: 200px;
  transform: perspective(300px) scaleZ(6) ;
  transform: rotate(30deg);
}
